
<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{%block page-title %} Home | Regalix {%endblock %}</title>

    {%block head-css %}
	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="{% static '/global_assets/css/icons/icomoon/styles.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static '/global_assets/assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static '/global_assets/assets/css/bootstrap_limitless.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static '/global_assets/assets/css/layout.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static '/global_assets/assets/css/components.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static '/global_assets/assets/css/colors.min.css' %}" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script src="{% static '/global_assets/js/main/jquery.min.js' %}"></script>
	<script src="{% static '/global_assets/js/plugins/extensions/jquery_ui/widgets.min.js' %}"></script>
	<script src="{% static '/global_assets/js/main/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static '/global_assets/js/plugins/loaders/blockui.min.js' %}"></script>
	<script src="{% static '/global_assets/js/plugins/ui/slinky.min.js' %}"></script>
	<script src="{% static 'js/vendor/moment.min.js' %}"></script>
	<script src="{% static 'js/vendor/moment-timezone-with-data.js' %}"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
    {%block theme-css %}
    {%endblock %}
	<!-- /theme JS files -->
        {%endblock %}

</head>

<body class="layout-boxed-bg">

	<!-- Main navbar -->
	<div class="navbar navbar-expand-md navbar-dark">
		{% if container %} <div class="container"> {% endif %}

			<div class="navbar-brand wmin-0 mr-5">
				<!--<a href="index.html" class="d-inline-block">-->
					<!--<img src="{% static '/global_assets/images/logo_light.png' %}" alt="">-->
				<!--</a>-->
			</div>

			<div class="d-md-none">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
					<i class="icon-tree5"></i>
				</button>
			</div>

			<div class="collapse navbar-collapse" id="navbar-mobile">
				<div>
					<label  class="d-inline-block" style="font-family: italic;font-style: italic; font-size:30px">
						Todo App
<!--						<img src="/static/global_assets/images/logouss_solid.png" alt="" height="50px" width="300px">-->
					</label>
				</div>

				<span class="navbar-text ml-md-3 mr-md-auto">

				</span>

				<ul class="navbar-nav">
					<li class="nav-item dropdown">
<!--						<a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">-->
<!--							<img src="{% static '/global_assets/images/lang/gb.png' %}" class="img-flag mr-2" alt="Unisafe Secure Solutions">-->
<!--							English-->
<!--						</a>-->

						<div class="dropdown-menu dropdown-menu-right">
							<a href="#" class="dropdown-item english"><img src="{% static '/global_assets/images/lang/gb.png' %}" class="img-flag" alt=""> English</a>

						</div>
					</li>

					<li class="nav-item dropdown dropdown-user">
						<a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
							<img src="{% static '/global_assets/images/demo/users/face11.png' %}" class="rounded-circle" alt="">
							<span>{{ request.user.first_name | title }}&nbsp;{{ request.user.last_name | title }}</span>
						</a>

						<div class="dropdown-menu dropdown-menu-right">
							<a href="#" class="dropdown-item"><i class="icon-user-plus"></i> My profile</a>
							<!--<a href="#" class="dropdown-item"><i class="icon-comment-discussion"></i> Messages <span class="badge badge-pill bg-blue ml-auto">58</span></a>-->
							<!--<div class="dropdown-divider"></div>-->
							<!--<a href="#" class="dropdown-item"><i class="icon-cog5"></i> Account settings</a>-->

						</div>
					</li>
				</ul>
			</div>
		{% if container %} </div > {% endif %}
	</div>
	<!-- /main navbar -->


	<!-- Secondary navbar -->
	    {% include 'myproject/secondarynav.html' %}
	<!-- /secondary navbar -->



		

	<!-- Page content -->
    {% block content %}
    {% endblock %}
	<!-- /page content -->

{% block bottom_scripts %}

{% endblock %}
	<!-- Footer -->
	<div class="navbar navbar-expand-lg navbar-light">
		<div class="text-center d-lg-none w-100">
			<button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
				<i class="icon-unfold mr-2"></i>
				Footer
			</button>
		</div>

								<div class="navbar-collapse collapse" id="navbar-footer">
			<span class="navbar-text">
				<!--&copy; 2018. <a href="#">USS Licence Plate Recognization</a> by <a href="#" target="_blank">Unisafe Secure Solutions</a>-->
			</span>

			<ul class="navbar-nav ml-lg-auto">
				<li class="nav-item"><a href="#" class="navbar-nav-link" target="_blank"><i class="icon-lifebuoy mr-2"></i> Support</a></li>
				<li class="nav-item"><a href="#" class="navbar-nav-link" target="_blank"><i class="icon-file-text2 mr-2"></i> Docs</a></li>
			</ul>
		</div>
	</div>
	<!-- /footer -->
		
</body>
</html>
