{% extends 'myproject/base.html' %}
{% block theme-css %}
{% load static %}
{% load widget_tweaks %}
	 <!--This is limitless datatable-->

	<script src="{% static 'global_assets/js/plugins/tables/datatables/datatables.min.js' %}"></script>
	<script src="{% static 'global_assets/js/plugins/forms/selects/select2.min.js' %}"></script>
	<script src="{% static 'global_assets/js/plugins/tables/datatables/extensions/jszip/jszip.min.js' %}"></script>
	<script src="{% static 'global_assets/js/plugins/tables/datatables/extensions/pdfmake/pdfmake.min.js' %}"></script>
	<script src="{% static 'global_assets/js/plugins/tables/datatables/extensions/pdfmake/vfs_fonts.min.js' %}"></script>
	<script src="{% static 'global_assets/js/plugins/tables/datatables/extensions/buttons.min.js' %}"></script>
	<script src="{% static 'global_assets/assets/js/app.js' %}"></script>
	<script src="{% static 'global_assets/js/demo_pages/datatables_extension_buttons_html5.js' %}"></script>

    <!--Django-Modal-form-->
        <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
        <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
    <!--/Django-Modal-Forms-->
{% endblock %}


{%block content %}

{% include "myproject/_modal.html" %}

<!-- Page content -->
	<div class="page-content pt-0 ">

		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Content area -->
			<div class="content">
				<!-- Main charts -->
				<br>
				<div class="row">
					<!--<div class="col-sm-1"></div>-->

						<div class="col-md-4 offset-md-4">
							<form method="post" action="">
								{% csrf_token %}
							  <div class="card">
								<div class="card-header ">
									<h3 style="text-align:center;">Create Task</h3>
								</div>
								  <div class="card-body">

									<div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
									  {% for error in form.non_field_errors %}
										{{ error }}
									  {% endfor %}
									</div>

									{% for field in form %}
									  <div class="form-group">
<!--										<label for="{{ field.id_for_label }}">{{ field.label }}</label>-->
										{% render_field field class="form-control" placeholder=field.label %}
										<div class="{% if field.errors %} invalid{% endif %}">
										  {% for error in field.errors %}
											<p class="help-block">{{ error }}</p>
										  {% endfor %}
										</div>
									  </div>
									{% endfor %}
								  </div>
								  <div class="card-footer">
									<button  type="button" id="submit" class="submit-btn btn btn-primary float-right">Submit</button>
								  </div>
							  </div>

							</form>

						</div>

					<!--<div class="col-sm-1"></div>-->

				</div>



				<div class="card">
						<br>
						<br>
						<div class="card-header header-elements-inline">
							<h5 class="card-title">Tasks</h5>
							<div class="header-elements">
								<div class="list-icons">
									<!--<a class="list-icons-item" data-action="collapse"></a>-->
<!--									&nbsp;Reload &nbsp;<a class="list-icons-item" data-action="reload" id="reload_table"></a>-->
								</div>
							</div>
						</div>
						<table class="table table-bordered table-hover  datatable-highlight " id="tasktable">
									<thead>
										<tr>
											<th class="no-sort" >Sr. No</th>
											<th class="no-sort" >Name</th>
											<th class="no-sort" >Completed</th>
											<th class="no-sort"> Actions </th>
										</tr>
									</thead>
									<tbody>
									</tbody>

						</table>

				</div>
			</div>
				<!-- /dashboard content -->

		</div>
			<!-- /content area -->

	</div>
		<!--Main Content-->

<script>

	var token = "{{ csrf_token }}";
	console.log("Token",token)

	$(document).ready(function(){
		var loadstatus = LoadData();
        console.log(loadstatus);
        if (loadstatus){
          $('#tasktable').on('mouseover', '.markasdone , .markaspending ,.updatetask', function(){
               $(this).modalForm({formURL: $(this).data('id')});
            });
        }

		  $('#submit').on('click',function(){
			  console.log("Clicked");
					var name = $('#id_name').val();
					$.ajax({
						url: "{% url 'homepage' %}",
						dataType:"json",
						type:"POST",
						headers: {'X-CSRFToken':token},
						data:{
						  name: name,
						},
						success:function(data)
						{
						   if( data['status'] == "success" )
						   {
									LoadData();

							}
						},

					});
					$('#id_name').val('');
		  });
	});

	function LoadData()
	{
		var table= $('#tasktable').DataTable( {
						lengthMenu: [ [10,25,50,100,-1], [10,25,50,100,"All"] ],
						"bJQueryUI": true,
					   "select": true,
					   "destroy": true,
					   "processing": true,
					   "serverSide": true,
					   "aaSorting": [],
					   "ajax": "{% url 'gettask' %}",
					   "fnRowCallback" : function(nRow, aData, iDisplayIndex){
							$("td:first", nRow).html(iDisplayIndex +1);
						   return nRow;
            			},

					   language: {
							search: "",
							searchPlaceholder: "Filter"
						},
					});
		return true;

	}
</script>

{% endblock %}